.center {
    position: absolute;
    top: 20px;
    left: 0px;
    @media only screen and (max-width: 600px) {
        display: flex;
        flex-flow: column;
        position: absolute;
        top: inherit;
        bottom: 10px;
        left: 0px;
    }
}
a, button {
    text-decoration: none;
    margin: 5px;
    padding: 3px 6px;
    background-color: springgreen;
    border: 1px solid springgreen;
    border-radius: 15px;
}
a:hover, button:hover {
    color: yellow;
    cursor: pointer;
}
.active {
    color: yellow;
}