.center {
    position: absolute;
    top: 20px;
    left: 0px;
}
a {
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    background-color: springgreen;
    border: 1px solid springgreen;
    border-radius: 15px;
}
.active {
    color: yellow;
}